<%- include('../layouts/header') -%>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Customers</h1>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-header">
                            <h3 class="card-title">List</h3>
      
                            <div class="card-tools">
                                <a href="/customer/add" class="btn btn-primary btn-sm float-left">Add Customer</a>
                                <form action="" method="get" class="float-right">
                                    <div class="input-group input-group-sm mt-0 ml-2" style="width: 150px;">
                                        <input type="text" name="searchterm" class="form-control float-right" placeholder="Search" value="<%= searchterm %>">
        
                                        <div class="input-group-append">
                                            <button type="submit" class="btn btn-default"><i class="fas fa-search"></i></button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- /.card-header -->
                        <div class="card-body table-responsive p-0">
                            <table class="table table-hover text-nowrap">
                                <thead>
                                    <tr>
                                        <th>Nr.</th>
                                        <th>Name</th>
                                        <th>Email</th>
                                        <th>Phone</th>
                                        <th>Created On</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if (customers.length) { %>
                                    <% var nr = (limit * (current - 1)) + 1; %>
                                    <% customers.forEach((customer, index) => { %>
                                    <tr>
                                        <td><%= nr + index %></td>
                                        <td><%= customer.firstName + " " + customer.lastName %></td>
                                        <td><%= customer.email %></td>
                                        <td><%= customer.phone %></td>
                                        <td><%= customer.created_at %></td>
                                        <td>
                                            <a href="/customer/edit/<%= customer._id %>" class="btn btn-sm btn-primary">Edit</a>
                                            <button type="button" data-href="/customer/delete/<%= customer._id %>" class="btn btn-sm btn-danger delete-customer-btn" data-toggle="modal" data-target="#deleteCustomerModal">Delete</button>
                                        </td>
                                    </tr>
                                    <% }) %>
                                    <% } else { %>
                                        <tr>
                                            <td colspan="5" class="text-center">
                                                <span>No customers found</span>
                                            </td>
                                        </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <!-- /.card-body -->
                        <div class="card-footer">
                        <% if (pages > 0) { %>
                            <ul class="pagination text-center float-right mb-0">
                            <% if (current == 1) { %>
                                <li class="disabled page-item">
                                    <span class="page-link">First</span>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                <a class="page-link" href="/customers?page=1<% if (searchterm.length) { %>&searchterm=<%= searchterm %><% } %>">First</a>
                                </li>
                            <% } %>
                
                            <% var i = (Number(current) > 5 ? Number(current) - 4 : 1) %>
                            <% if (i !== 1) { %>
                                <li class="disabled page-item">
                                    <a class="page-link">...</a>
                                </li>
                            <% } %>
                
                            <% for (; i <= (Number(current) + 4) && i <= pages; i++) { %>
                            <% if (i == current) { %>
                                <li class="active page-item">
                                    <a class="page-link"><%= i %></a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/customers?page=<%= i %><% if (searchterm.length) { %>&searchterm=<%= searchterm %><% } %>"><%= i %></a>
                                </li>
                            <% } %>
                            <% if (i == Number(current) + 4 && i < pages) { %>
                                <li class="disabled page-item">
                                    <a class="page-link">...</a>
                                </li>
                            <% } %>
                            <% } %>
                
                            <% if (current == pages) { %>
                                <li class="disabled page-item">
                                    <a class="page-link">Last</a>
                                </li>
                            <% } else { %>
                                <li class="page-item">
                                    <a class="page-link" href="/customers?page=<%= pages %><% if (searchterm.length) { %>&searchterm=<%= searchterm %><% } %>">Last</a>
                                </li>
                            <% } %>
                            </ul>
                            <% } %>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->

<div class="modal fade" id="deleteCustomerModal" tabindex="-1" role="dialog" aria-labelledby="deleteCustomerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deleteCustomerModalLabel">Delete Customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete this customer?</p>
            </div>
            <div class="modal-footer">
                <form method="post" action="" id="deleteCustomerForm">
                    <button type="submit" class="btn btn-danger">Yes</button>
                </form>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer') -%>